@import "tailwindcss";

:root {
    --color-primary: #131313;
    --color-primary-light: #181818;
    --color-secondary: #E5E2E1;
    --color-secondary-dark: #838181;
    --color-accent: #F3BF26;
    --color-accent-light: #F3BF26;
    --color-accent-dark: #2c2101;
    --bg-primary: #131313;
    --bg-secondary: #1a1a1a;

    --font-primary: 'Inter', sans-serif;
}

@theme {
    --color-primary: var(--color-primary);
    --color-primary-light: var(--color-primary-light);
    --color-secondary: var(--color-secondary);
    --color-secondary-dark: var(--color-secondary-dark);
    --color-accent: var(--color-accent);
    --color-accent-light: var(--color-accent-light);
    --color-accent-dark: var(--color-accent-dark);

    --bg-primary: var(--bg-primary);
    --bg-secondary: var(--bg-secondary);

    --font-family: var(--font-primary);
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-primary);
    color: var(--color-secondary);
}